* {
    font-family: sans-serif;
}

body {
    background-color: black;
    margin: 30px;
}

#navbar {
    display: flex;
    gap: 25%;
    align-content: center;
    justify-content: space-between;
}

#img1 {
    display: inline-block;
    block-size: 25px;
    margin: 0px 0px -5px 0px;
}

#pLogo {
    color: #F25123;
    display: inline-block;
    font-family: cursive;
}

#links {
    display: inline-flex;
    gap: 40px;
    align-items: center;
}

#links li a {
    color: white;
    text-decoration-line: none;
}

#icons {
    display: flex;
    color: #F25123;
    gap: 5px;
    align-items: center;
}

h1 {
    font-size: 70px;
    margin-top: 100px;
}

#lorem {
    color: gray;
}

button {
    color: #ffffff;
    background-color: #F25123;
    border: none;
    border-radius: 30px;
    padding: 7px;
    margin: 5px 0px 20px 0px;
}

#orange {
    border: #F25123 solid 40px;
    padding: 85px 170px 85px 170px;
    margin: -50px 0px 0px 0px;
    border-radius: 100%;
    block-size: 170px;
    position: absolute;
    left: 600px;
    z-index: 0;
}

#boy {
    position: absolute;
    left: 520px;
    bottom: 175px;
    block-size: 460px;
    z-index: 1;
}

#flower1 {
    position: absolute;
    top: 110px;
    right: 180px;
    block-size: 120px;
}

#flower2 {
    position: absolute;
    top: 280px;
    right: 100px;
    block-size: 90px;
}

#flower3 {
    position: absolute;
    bottom: 220px;
    right: 180px;
    block-size: 60px;
}

.sCircle {
    text-align: center;
    border: #F25123 solid 10px;
    border-radius: 100%;
    /* padding: 20px 20px 20px 20px; */
}

.number {
    color: #ffffff;
    font-size: 30px;
}

.percentage {
    color: rgb(255, 255, 255);
}

.language {
    font-size: 10px;
    color: #F25123;
}

.footer {
    display: flex;
    justify-content: space-around;
}